.title {
    background-color: green;
    width: 200px;
    text-align: center;
    margin: auto;
}
/* 
.blackline {
    background-color: black;
    width: 110%;
    height: 2px;

    padding: 0.5px;
    margin-top: 10px;
    margin-left: -13px;
} */

.coButton {
    background-color: lightcoral;
    color: black;
    text-align: center;

    border: none;

    font-size: 15px;
    border-radius: 4px;

    transition-duration: 0.2s;
}

.coButton:hover {
    background-color: darkred;
    color: white;
}

.parent {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 300px);

    padding: 5px;
    margin: auto;
    width: 75%;

    text-align: center;
}

.parent > div {
    padding: 10px;
    border: 5px solid;
    border-radius: 6px;
    
    padding-top: 15px;

    background-color: lightblue;

}

.parent > div > img {

    width: 290px;
    max-width: 290px;
    max-height: 290px;

    display: block;
    margin-left: -10px;
    margin-right: auto;
}

.parent > div > h2{
    background-color: blue;
    height: 50px;

    margin-top: 0px;
    margin-left: -10px;
    margin-right: -10px;
    
}

.ButtonHub {
    background-color: lightgreen;
    padding: 15px;

    text-align: center;
}

.ButtonHub > button{
    font-size: 20px;
    width: 150px;
    height: 35px;
    margin-right: 100px;

    box-shadow: 2px 2px grey ;

    border: none;
    background-color: rgb(234, 231, 231);
    border-radius: 3px;

    transition-duration: 0.4s;
}

.ButtonHub > button:hover {
    background-color: grey;
    color: white;
}



.FooterHub {
    background-color: lightgreen;
    text-align: center;
    height: 75px;

    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
}

.FooterHub > button{
    margin-right: 100px;
    margin-top: 17px;


    border: none;
    border-radius: 3px;
    width: 150px;
    height: 35px;
    font-size: 20px;

    transition-duration: 0.4s;
}

.FooterHub > button:hover {
    background-color: gray;
    color: white;
}

.pContainer{
    background-color: green;
}

.info {
    width:50%;
    float: left;
}

.paragraph {
    width:50%;
    float: right;
}